@font-face {
  font-family: 'Caslon';
  src: url('./assets/fonts/CaslonDoricCondensed-Bold.ttf') format('truetype');
  src: url('./assets/fonts/CaslonDoricCondensed-ExtBd.ttf') format('truetype');
  src: url('./assets/fonts/CaslonDoricCondensed-Medium.ttf') format('truetype');
  src: url('./assets/fonts/CaslonDoricCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Bold.ttf') format('truetype');
  src: url('./assets/fonts/Graphik-Medium.ttf') format('truetype');
  src: url('./assets/fonts/Graphik-Regular.ttf') format('truetype');
  src: url('./assets/fonts/Graphik-Semibold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}